.h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0e76fd;
  margin-top: 1%;
}

.label {
  display: inline-block;
  width: 40%;
  color: #777777;
}

.input {
  padding: 10px 20px;
  border: 1px solid #0e76fd;
  box-sizing: border-box;
  margin: 6px 0;
  border-radius: 16px;
  width: 60%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: auto;
}

.button {
  background-color: #0e76fd;
  border: none;
  color: white;
  width: 150px;
  height: 50px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  margin-top: 50px;
  cursor: pointer;
  border-radius: 16px;
  font-weight: bolder;
  font-size: 16px;
}

.li {
  font-weight: bold;
}

.ol {
  margin: 20px 10px;
}
